/* Font family untuk seluruh body menggunakan Arial atau sans-serif jika Arial tidak tersedia */
body {
    font-family: Arial, sans-serif;
}

/* Margin untuk setiap section */
.section {
    margin: 10px;
}

/* Container untuk konten dalam setiap section dengan padding, border-radius, dan background color tertentu */
.container {
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
}

/* Gaya untuk link */
a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Gaya font besar */
.font-xl {
    font-size: 50px;
}

/* Flex container untuk penataan konten secara horizontal */
.flex {
    display: flex;
    justify-content: center;
}

/* Pesan validasi dengan warna merah dan margin bawah */
#pesan-validasi {
    color: red;
    margin-bottom: 5px;
}

/* Gaya untuk heading (h1, h2, h3) */
h1,
h2,
h3 {
    color: #333;
}

/* Gaya untuk h1 dengan ukuran font 24px dan margin bawah */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Gaya untuk h2 dengan ukuran font 20px */
h2 {
    font-size: 20px;
}

/* Gaya untuk h3 dengan ukuran font 18px, margin atas dan bawah */
h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Gaya untuk paragraf dengan warna abu-abu dan line-height */
p {
    color: #666;
    line-height: 1.5;
}

/* Gaya untuk input number dengan lebar, padding, margin-bottom, border, dan border-radius */
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Gaya untuk tombol dengan padding, background-color, warna, border, border-radius, dan cursor tertentu */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover state untuk tombol */
button:hover {
    background-color: #0056b3;
}

/* Reset margin untuk unordered list */
ul {
    margin: 0;
    padding: 0;
}

/* Margin bottom untuk setiap item dalam unordered list */
li {
    margin-bottom: 5px;
    margin-left: 20px;
}

/* Gaya untuk hasil BMI dengan ukuran font besar dan margin atas */
.result h1 {
    font-size: 36px;
    margin-top: 0;
}

/* Gaya untuk hasil BMI paragraf dengan margin atas */
.result p {
    margin-top: 0;
}

/* Gaya untuk tombol di hasil BMI dengan margin atas */
.result button {
    margin-top: 20px;
}

/* Media query untuk tata letak saat lebar layar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {

    /* Perubahan tata letak untuk kontainer agar berbentuk kolom */
    .container {
        flex-direction: column;
    }

    /* Penyesuaian margin untuk calculator dan result */
    .calculator,
    .result {
        margin-right: 0;
    }
}